@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  font-size: 14px;
  line-height: 1.42;
  color: #333;
} */

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

/* navbar section */

.navbar {
  background-color: #383e4c;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin-bottom: 20px;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container {
  width: 1170px;
}

.navbar ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  border: 2px solid #49505f;
  padding: 10px 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

/* header section */
.header-intro {
  height: 614px;
  background-image: url(./image/bg-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 235px 0;
  /* margin-bottom: 60px; */
  background-attachment: fixed;
  background-size: 100% 100%;
}

.header-intro .container {
  width: 1170px;
  height: 145px;
  margin-left: auto;
  margin-right: auto;
}

.header-intro .row {
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.header-content h1 {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}

.header-content h4 {
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 1px #333;
}

/* feature section */
.feature-area {
  padding-top: 30px;
  height: 100%;
  margin-bottom: 70px;
}
.feature-container {
  width: 1170px;
  height: 450px;
  margin: 0 auto;
}

.feature-container .row {
  display: flex;
  gap: 46px;
  text-align: center;
}

.left-col,
.mid-col,
.right-col {
  width: 360px;
}

.feature-content {
  background: #f2f2f2;
  padding: 40px 0;
}

.feature-content img {
  max-width: 100%;
  height: auto;
  border: none;
}

.feature-content-title {
  margin: 20px 0 10px;
  padding: 0 20px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.feature-content-description {
  width: 360px;
  height: 170px;
  margin: 15px 0 0;
  padding: 0 20px 35px;
  text-align: left;
}

.feature-content-link {
  text-decoration: none;
}

.feature-content .green-text {
  color: green;
}

.feature-content .green-btn {
  background-color: green;
  color: #fff;
}

.feature-content .blue-text {
  color: blue;
}

.feature-content .blue-btn {
  background-color: blue;
  color: #fff;
}

.feature-content .red-text {
  color: red;
}

.feature-content .red-btn {
  background-color: red;
  color: #fff;
}

.green-btn,
.blue-btn,
.red-btn {
  width: 173.75px;
  height: 44px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}

/* blog section */
.blog-area {
  height: 615px;
  margin: 90px 0;
}

.blog-container {
  width: 1170px;
  margin: 0 auto;
}

.blog-row {
  display: flex;
}

.col {
  width: 585px;
  height: 593px;
  padding: 0 15px;
}

.col img {
  width: 555px;
  height: 240px;
}

.blog-content h2 {
  color: #666666;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0;
}

.blog-content p {
  padding: 27px;
  text-align: left;
  color: #333333;
  font-size: 14px;
}

.blog-content span {
  margin-left: 350px;
}

.blog-content span a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #666666;
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
}

/* services section */
.services-area {
  background-image: url(./image/bg-2.jpg);
  background-position: center center;
  height: 333px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.col-services {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 25%;
  color: #fff;
}
.service {
  width: 700px;
  height: 146px;
}
.service h1 {
  font-size: 60px;
  text-transform: capitalize;
}

.service p {
  line-height: 25.6px;
  font-size: 18px;
}

/* testimonial section */
#testimonial-section {
  width: 100%;
  height: 1338px;
  margin: 60px 0;
}

.testimonial-container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 580px;
}

.testimonial-row-1 {
  display: flex;
  height: 580px;
  width: 100%;
  text-align: center;
}

.testimonial-col-1 {
  width: 292.5px;
  height: 530px;
}

.testimonial-content {
  background-color: #f2f2f2;
  height: 500px;
  max-width: 260px;
  margin: 0 auto 30px;
}

.testimonial-content img {
  width: 260px;
  height: 260px;
  max-width: 100%;
  border: none;
}

.testimonial-content h2 {
  font-size: 20px;
  font-weight: 700;
  color: #666;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-transform: capitalize;
}

.testimonial-content p {
  height: 200px;
  width: 260px;
  text-align: left;
  font-size: 14px;
  line-height: 25.6px;
  padding: 10px 20px;
}

.testimonial-content-link {
  text-decoration: none;
  width: 121px;
  height: 48px;
  background-color: #fff;
  margin: 15px 0 0;
  padding: 10px 30px;
  text-transform: capitalize;
  border: rgb(58, 53, 53) 1px solid;
  border-radius: 10px;
}

.testimonial-row-2 {
  height: 786px;
  width: 100%;
}

.testimonial-box-description {
  width: 1140px;
  height: 352px;
  padding: 30px;
}

.testimonial-box-description h2 {
  margin-bottom: 10px;
}

.testimonial-box-description p {
  margin-bottom: 10px;
}

.testimonial-box-description p:last-of-type {
  margin-bottom: 30px;
}

/* contact section */
.contact-area {
  background-image: url(/image/bg-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 582px;
  padding-top: 80px;
  padding-bottom: 60px;
}

.contact-container {
  width: 750px;
  height: 442px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.contact-row {
  width: 750px;
}

.contact-content h1 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 36px;
  margin-bottom: 30px;
  text-shadow: 2px 2px #333;
}

.contact-content p {
  background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 20px 15px;
  text-align: center;
  line-height: 30px;
}

.contact-col-2 .form-control {
  display: flex;
  justify-content: space-between;
}

.contact-form-left .form-group {
  display: flex;
  flex-direction: column;
}

.contact-form-left .form-group input {
  width: 345px;
  height: 34px;
  background-color: #f2f2f266;
  margin: 0px 0px 15px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
}

.contact-form-right .form-group {
  display: flex;
  flex-direction: column;
}

.contact-form-right .form-group textarea {
  width: 345px;
  height: 132px;
  background-color: #f2f2f266;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
}

.contact-form-right .form-group button {
  background: #262628 none repeat scroll 0 0;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 10px;
  width: 104px;
  height: 48px;
  border: none;
}

/* footer section */
footer {
  background-color: rgb(22, 19, 19);
}

.footer-container {
  width: 1170px;
  height: 60px;

  margin: 0 auto;
}

.footer-col .copy {
  width: 1140px;
  height: 20px;
  color: rgb(204, 189, 189);
  font-size: 12px;
  padding: 20px;
  text-align: center;
}
