@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  font-size: 14px;
  line-height: 1.42;
  color: #333;
} */

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

/* navbar section */

.navbar {
  background-color: #383e4c;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin-bottom: 20px;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container {
  width: 1170px;
}

.navbar ul {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  border: 2px solid #49505f;
  padding: 10px 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

/* header section */
.header-intro {
  height: 614px;
  background-image: url(./image/bg-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 235px 0;
  /* margin-bottom: 60px; */
  background-attachment: fixed;
  background-size: 100% 100%;
}

.header-intro .container {
  width: 1170px;
  height: 145px;
  margin-left: auto;
  margin-right: auto;
}

.header-intro .row {
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.header-content h1 {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}

.header-content h4 {
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 1px #333;
}

/* feature section */
.feature-area {
  padding-top: 30px;
  height: 100%;
  margin-bottom: 70px;
}
.feature-container {
  width: 1170px;
  height: 450px;
  margin: 0 auto;
}

.feature-container .row {
  display: flex;
  gap: 46px;
  text-align: center;
}

.left-col,
.mid-col,
.right-col {
  width: 360px;
}

.feature-content {
  background: #f2f2f2;
  padding: 40px 0;
}

.feature-content img {
  max-width: 100%;
  height: auto;
  border: none;
}

.feature-content-title {
  margin: 20px 0 10px;
  padding: 0 20px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.feature-content-description {
  width: 360px;
  height: 170px;
  margin: 15px 0 0;
  padding: 0 20px 35px;
  text-align: left;
}

.feature-content-link {
  text-decoration: none;
}

.feature-content .green-text {
  color: green;
}

.feature-content .green-btn {
  background-color: green;
  color: #fff;
}

.feature-content .blue-text {
  color: blue;
}

.feature-content .blue-btn {
  background-color: blue;
  color: #fff;
}

.feature-content .red-text {
  color: red;
}

.feature-content .red-btn {
  background-color: red;
  color: #fff;
}

.green-btn,
.blue-btn,
.red-btn {
  width: 173.75px;
  height: 44px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}

/* blog section */
.blog-area {
  height: 615px;
  margin: 90px 0;
}

.blog-container {
  width: 1170px;
  margin: 0 auto;
}

.blog-row {
  display: flex;
}

.col {
  width: 585px;
  height: 593px;
  padding: 0 15px;
}

.col img {
  width: 555px;
  height: 240px;
}

.blog-content h2 {
  color: #666666;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0;
}

.blog-content p {
  padding: 27px;
  text-align: left;
  color: #333333;
  font-size: 14px;
}

.blog-content span {
  margin-left: 350px;
}

.blog-content span a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #666666;
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
}
